{% extends 'base.html' %}

{% block content %}
<div class="grid grid-cols-3 gap-4">
    <div class="flex justify-between">
        <div class="bg-blue-600 text-white h-screen w-1/6  top-0 left-0 overflow-y-auto pt-5 fixed">
            <a href="{% url 'dwitter:dashboard' %}" class="block py-2 px-4 hover:bg-blue-500 border-b border-blue-500">Home</a>
            <a href="#about" class="block py-2 px-4 hover:bg-blue-500 border-b border-blue-500">About</a>
            <a href="#services" class="block py-2 px-4 hover:bg-blue-500 border-b border-blue-500">Services</a>
            <a href="#contact" class="block py-2 px-4 hover:bg-blue-500 border-b border-blue-500">Contact</a>
            <a href="{% url 'dwitter:profile_list' %}" class="block py-2 px-4 hover:bg-blue-500 border-b border-blue-500">All Profiles</a>
            <a href="{% url 'dwitter:profile' request.user.profile.id %}" class="block py-2 px-4 hover:bg-blue-500">My Profile</a>
        </div>    
    </div>

    <div class="flex-1 ml-2">
        {% for dweet in dweets %}
            <div class="box mb-4">
                <a href="{% url 'dwitter:dweet_discription' dweet.id %}">{{dweet.body}}</a>
                <span class="text-sm text-gray-500">
                    ({{ dweet.created_at }} by {{ dweet.user.username }})
                </span> 
                <br/><br/>
                <span class="text-sm text-gray-500">
                    <h1>Categories :- 
                        {% for cat in dweet.categories.all %}
                            {{ cat.name }}
                        {% endfor %}
                    </h1>
                </span>

                <p>Likes :- {{ dweet.total_likes }}</p>
                <p>Comments :- {{ dweet.comments.count }}</p>
            </div>
            <hr>
            <br/>
        {% endfor %}
    </div>


    <div class="mt-8">

        <div class="mt-4">
            <div class="block">
                <h2 class="text-2xl">Add a Dweet</h2>
            </div>
            <div class="block">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 mt-5 rounded"
                            type="submit">Dweet
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


